.App {
  text-align: top;
  background-color: #455066;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: rgb(245, 241, 241);
}

.App-link {
  color: #61dafb;
}
